<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/sideEffect/view/js/jquery-ui-1.10.3/js/jquery-1.9.1.js"></script>
 <script type="text/javascript" src="/sideEffect/view/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.min.js"></script>
 <link rel="stylesheet" type="text/css" href="/sideEffect/view/js/jquery-ui-1.10.3/css/ui-lightness/jquery-ui-1.10.3.custom.min.css"/>
 <script>
  $(function() {
    $( "#a" )
      .button()
      .click(function( event ) {
        event.preventDefault();
      });
  });
  </script>
 </head>
<body>
	<input type="button" value="adsfasdfasdf" id="a"/>
	<input type="button" value="adfasdf"/>
</body>
</html>